<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">


  <display-name>NSWI116</display-name>

  <!-- SERVLETS -->


  <servlet>
    <servlet-name>NSWI116 servlet</servlet-name>
    <servlet-class>nswi116.web.HalloWorld</servlet-class>
  </servlet>



  <!-- MAPPINGS -->

  <!-- Demo service -->
  <servlet-mapping>
    <servlet-name>NSWI116 servlet</servlet-name>
    <url-pattern>/nswi116/*</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <!-- SECURIY -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Joseki</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <!-- <http-method>OPTIONS</http-method> -->
    </web-resource-collection>
  </security-constraint>

</web-app>
